@page "/TenantExtension"
@using Microsoft.Extensions.Localization
@using global::TenantExtension.Localization
@inject IStringLocalizer<TenantExtensionResource> L
@{
}
<h1>TenantExtension</h1>
<p>@L["SamplePageMessage"]</p>